# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Rider / JetBrains
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Others
*.exe
*.dll
*.pdb
*.cache
*.log
